<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="instructorGiven">Instructor Given</label>
        <input type="text" class="form-control" id="instructorGiven" name="instructorGiven" value="<%= instructor.given %>">
      </div>
  
      <div class="form-group">
        <label for="instructorFamily">Instructor Family</label>
        <input type="text" class="form-control" id="instructorFamily" name="instructorFamily" value="<%= instructor.family %>">
      </div>
  
      <div class="form-group">
        <label for="instructorEmail">Instructor Email</label>
        <input type="text" class="form-control" id="instructorEmail" name="instructorEmail" value="<%= instructor.email %>">
      </div>
  
      <div class="form-group">
        <label for="instructorSalary">Instructor Salary</label>
        <input type="text" class="form-control" id="instructorSalary" name="instructorSalary" value="<%= instructor.salary %>">
      </div>
  
      <div class="form-group">
        <label for="instructorGithub">Instructor Github</label>
        <input type="text" class="form-control" id="instructorGithub" name="instructorGithub" value="<%= instructor.github %>">
      </div>
  
 
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
  
    // function toCurrency(amount) 
  
    // https://gist.github.com/kylefox/780065
    function toCurrency(amount) {
      return "$" + amount.toFixed(2);
    };
  
    // function toCurrencyInt(amount) 
    function toCurrencyInt(amount) {
      return "$" + amount.toFixed(0);
    };
  
    // Add  .toCurrency() method to all Numbers
    Number.prototype.toCurrency = function () {
      return toCurrency(this);
    };
  
    // Add  .toCurrencyInt() method to all Numbers
    Number.prototype.toCurrencyInt = function () {
      return toCurrencyInt(this);
    };
  
    function onFormChange() {
      const newAge = parseFloat($("input[name=age]").val());
      let price = 75
      if (newAge == 1) {
        price = 100
      }
      $("#puppyCost").html(price.toCurrencyInt());
    }
  
    // window.onload = a function that will call all update functions to display calculated values
    window.onload = function () {
      onFormChange();
    }
  
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>